*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #0E0E12;
    color: #F5F7FF;
    line-height: 1.6;
}

section{
    padding: 80px 20px;
    text-align: center;
    /*scroll animation*/
    opacity: 0;
    transform: translateY();
    transition: all 0.8s ease;
}

.hero {
    background: linear-gradient(135deg, #0A1AFF, #6C4DFF);
}

.hero h1 {
    font-size: clamp(1.8rem, 5vw, 2.8rem);
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

button{
    padding: 14px 30px;
    border: none;
    border-radius: 6px;
    background: #2EFFB5;
    color: #0E0E12;
    font-weight: bold;
    cursor: pointer;
}

.services .cards, .process .steps{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card, .step{
    background: #15151D;
    padding: 30px;
    border-radius: 12px;
    flex: 1 1 250px;
    min-width: 200px;
}

.why ul {
    list-style: none;
    margin-top: 30px;
}

.why li{
    margin-bottom: 10px;
}

.cta {
    background: #15151D;
    padding: 50px 20px;
    border-radius: 12px;
    margin-top: 200px;
}

footer{
    padding: 30px;
    font-size: 0.9rem;
    background: #0a0a0f;
    margin-top: 50px;
    text-align: center;;
}

/*scroll animation*/
section.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    section{
        padding: 60px 16px;
    }

    .services .cards, .process .steps{
        flex-direction: column;
        height: 50px;
        width:  100%;
        flex-wrap: nowrap;
        gap: 15px;
        align-items: center;
    }

    .card, .step{
        max-width: 300px;
        width: 100%;
    }

    button{
        width: 100%;
        max-width: 280px;
    }
}

/* contact section */
.contact form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 40px auto 0 auto;
}
.contact input, .contact textarea{
    padding: 14px;
    border: none;
    border-radius: 6px;
    background: #1A1A23;
    color: #F5F7FF;
    font-size: 1rem;
}
.contact button{
    margin-top: 10px;
    background: #38bdf8;
    color: #000;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}
.contact textarea{
    resize: none;
    height: 100px;
}

